html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 80px;
  background-color: #121212;
  color: #E0E0E0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
